{% extends "network/layout.html" %}

{% block body %}

    <h2 class="text-center mt-2">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="container" style="height: 630px;">
        <form action="{% url 'login' %}" method="post" class="register">
            {% csrf_token %}
            <div class="form-group col-8">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group col-8">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary ml-3" type="submit" value="Login">
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </form>
    
    </div>

{% endblock %}