{% extends "network/layout.html" %}

{% block body %}
    <div id="container" class="container">
        <h3 class="mt-2">{{ username }}</h3>
        <div class="my-2 py-2 profile">
            <h6>Followers<span class="badge badge-primary m-1 p-1">{{ followed }}</span></h6>
            <h6>Following<span class="badge badge-primary m-1 p-1">{{ follower }}</span></h6>
            {% if user.is_authenticated and request.user != username %}
                <form action="{% url 'profile' username=username %}" method="post">
                    {% csrf_token %}
                    {% if following_user == False %}
                        <input type="submit" class="btn btn-primary btn-sm" name="action" value="Follow">
                    {% else %}
                        <input type="submit" class="btn btn-danger btn-sm" name="action" value="Unfollow">
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div>
            {% for post in posts %}
            <div class="card">
                <div id="{{ post.id }}" class="card-body">
                    <a class="a-username" href="{% url 'profile' username=post.poster %}"><h5 class="card-title d-inline">{{ post.poster }}</h5></a>
                    {% if post.poster == request.user %}
                        <button id="edit" class="btn btn-primary btn-sm float-right">Edit</button>
                    {% endif %}
                    <p class="card-text m-0">{{ post.post }}</p>
                    <p class="card-text text-muted m-0">{{ post.timestamp }}</p>
                    <span class="material-icons text-primary btn-likes" type="button">thumb_up</span>0
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example" class="my-2 py-2">
            <ul class="pagination float-right">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}